<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>コード入力</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/login.css">
        </head>
    <body>
        <div class="boxA">
            <div class="box1">
                <div class="box1-0">
                    <p>
                        確認コード入力
                    </p>
                </div>
                <div class="box1-2">
                    <p>
                        メールアドレス宛に送られた確認用のコードを入力し、認証を行ってください。
                        <div class="fields-group">
                            <div class="fields"><input type="password" class="inputfield" name="password" placeholder="確認コード"></div>
                        </div>
                        <input type=submit class="submit-button" value="送信">
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
