<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>アカウント作成</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/login.css">
        </head>
    <body>
        <div class="boxA">
            <div class="box1">
                <div class="box1-0">
                    <p>
                        アカウント作成
                    </p>
                </div>
                <div class="box1-1">
                    <div class="box1-1-1">
                        <div class="box1-1-2">
                            <p>
                                <form action="/create_account" method="post">
                                    <div class="fields-group">
                                        <div class="fields"><input type="text" class="inputfield" name="name" placeholder="アカウント名"></div>
                                        <div class="fields"><input type="email" class="inputfield" name="email" placeholder="メールアドレス"></div>
                                        <div class="fields"><input type="password" class="inputfield" name="password" placeholder="パスワード"></div>
                                    </div>
                                    <input type="submit" class="submit-button" value="送信">
                                </form>
                            </p>
                        </div>
                    </div>
                    <div class="box1-1-1">
                        <div class="box1-1-2">
                            アカウントを所持している方は<a href="login">こちら。</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
