<div class="boxA">
    <div class="header1">
        <div class="header1-1">
            <details>
                <summary class="menuber">
                    <span class="material-symbols-outlined">menu</span>
                </summary>
                <div class="menu">
                    <%-header_menu%>
                </div>
            </details>
        </div>
        <div class="header1-2">
            <a href="/"><img src="images/theme_image.png"  id="avatar" alt=""  width="100%"></a>
        </div>
    </div>
    <div class="header2">
        <form action="/research" method="get">
            <div class="search_bar">
                <span class="material-symbols-outlined">search</span>
                <input id="text2" type="text" placeholder="キーワードを入力" name="search">
            </div>
        </form>
    </div>
    <div class="header3">
        <div class="other"><%-header_icon%></div>
        <div class="bell">
            <a href="/notification"><span class="material-symbols-outlined">notifications</span></a>
            <%-bell_num%>
        </div>
        <div class="other"><a href="/themeupload">テーマの投稿</a></div>
    </div>
</div>
