<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <meta name="viewport" content="width=device-width">

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/login.css">
        </head>
    <body>
        <div class="boxA">
            <div class="box1">
                <div class="box1-0">
                    <p>
                        ログイン
                    </p>
                </div>
                <div class="box1-1">
                    <div class="box1-1-1">
                        <div class="share">
                            <a href="#">
                                <div class="box1-1-3">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                    Googleでログイン
                                </div>
                            </a>
                        </div>
                        <div class="box1-1-2">
                            <p>
                                <div class="ber">メールアドレス</div>
                                <input type="text" name="ID"><br><br>
                                <div class="ber">パスワード</div>
                                <input type="password" name="password"><br><br>
                                <input type="submit" value="送信">
                            </p>
                        </div>
                    </div>
                    <div class="box1-1-1">
                        <div class="box1-1-2">
                            アカウントを持っていない方は<a href="#">こちら。</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
