<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>設定</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/setting.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>
    <div class="boxB">
        <div class="set-left">
            <ul>
                <a href="/setting_user"><li>ユーザー情報</li></a>
                <a href="/setting_password"><li>メールアドレス・パスワード</li></a>
            </ul>
        </div>
        <div class="set-right">
            <form action="/setting_password" method="post">
                <h1>メールアドレス・パスワード</h1>       
                <h2>メールアドレス変更</h2>
                <div class="fields"><input type="email" class="inputfield" name="email" placeholder="新メールアドレス"></div>
                <h2>パスワード変更</h2>
                <div class="fields"><input type="password" class="inputfield" name="password" placeholder="新パスワード"></div>
                <div class="setting_submit"><input type="submit" class="submit-button" value="送信"></div>
            </form>
        </div>
    </div>

    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
