<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/user_list.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>
    <div class="notification_box">
        <div class="box1">
            <h1>IR604がフォローしたユーザー</h1>
        <ul>
            <a href="#"><li>
                <div class="box2">
                    <img src="images/icons/2.jpg" id="avatar" alt=""  width="75" height="75">
                </div>
                <div class="box3">
                    <div class="box3-1">
                        sub_account
                    </div>
                    <div class="box3-2">
                        sample
                    </div>
                </div>
            </li></a>
            <a href="#"><li>
                <div class="box2">
                    <img src="images/icons/2.jpg" id="avatar" alt=""  width="75" height="75">
                </div>
                <div class="box3">
                    <div class="box3-1">
                        sub_account
                    </div>
                    <div class="box3-2">
                        sample
                    </div>
                </div>
            </li></a>
        </ul>
        </div>
    </div>
    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
