@charset "UTF-8";


.boxB::after {
    content: "";
    display: block;
    clear: both;
}
.boxC::after {
    content: "";
    display: block;
    clear: both;
}
.box-nf::after {
    content: "";
    display: block;
    clear: both;
}
.box3::after {
    content: "";
    display: block;
    clear: both;
}
.lists::after {
    content: "";
    display: block;
    clear: both;
}

.boxB {
    padding-bottom: auto;
}

.boxC {
    margin: 8px;
    margin-top: 0px;
}
.boxB-1	{float: left;
    width: 100%;
}

/* タブ管理 */
.area {
    flex-wrap: wrap;
    display: flex;
}
.tab_class {
    margin-right:10px;
    color: #8a8a8a;
    width: auto;
    height: 50px;
    background-color: #ffffff;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}
input[name="tab_name"] {
    display: none;
}
input:checked + .tab_class {
    border-bottom:solid 5px #666666;
}
.content_class {
    display: none;
    width: 100%;
}
input:checked + .tab_class + .content_class {
    display: block;
}

.box1{
    height: 300px;
    width: 100%;
    background-color: #8a8a8a
}
.box2{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
}
.box2-1 {position: absolute;
    top: 300px;
    left: 40px;
    background-color: #c4c4c4;
    border-radius:50%;
    width: 150px;
    height: 150px;
}
.box2-2 {float: right;
    width: 85%;
    height: 100%;
}
.box-name{float:left;
    width:auto;
    height:auto;
    font-size: 30px;
    font-weight: bold;
}
.box-follower{float:left;
    width:auto;
    height:auto;
    margin-left: 10px;
    font-size: 20px;
}
.box-follow{float:right;
    padding-right: 20px;
    width:auto;
    height:45px;
}
.box-gaiyou{
    width:100%;
    height:150px;
    color: #727272;
}

.make_list{
    font-size:25px;
    color: #727272;
    border-bottom:solid 1px #666666
}
.inputfield{
    width: 245px;
    height: 25px;
    border: solid 1px #cacaca;
    outline: none;
    font-size: 18px;
}

.list_top{margin-left: 5px;
    width: 95%;
    height: 140px;
    margin-right: 5px;
    background-color: #ffffff;
    font-weight: bold;
    border: solid 3px #000000;
    text-align: center;
}
#list_icon{
    font-size:140px;
}

.box5{
    height: 250px;
    width: 100%;
    background-color: #ffffff;
}