@charset "UTF-8";


.boxB::after {
    content: "";
    display: block;
    clear: both;
}
.boxC::after {
    content: "";
    display: block;
    clear: both;
}
.box4::after {
    content: "";
    display: block;
    clear: both;
}

span{
    color:#727272;
}
  
.header1	{float: left;
    width: 20%;
}
.header1-1	{float: left;
    width: 50%;
}
.header2	{float: left;
    text-align:center;
    width: 60%;
}
.header3	{float: right;
    text-align:right;
    width: 20%;
}

.boxB {
    padding-bottom: auto;
}
.boxC {
    margin: 8px;
}

.box1{
    width:100%;
    height:170px;
    font-weight: bold;
    border: solid 3px #000000;
    position: relative;
}

.box2{
    width:100%;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box2 ul	{margin: 0;
	padding: 0;
	list-style: none}

.box2 li a	{display: block;
    margin-right: 5px;
	padding: 3px 5px;
	border-radius: 20%;
	background-color: #ffee8f;
	text-decoration: none}

.box2 li a:hover	{background-color: #fff5be}

.box2 ul:after	{content: "";
	display: block;
	clear: both}

.box2 li	{float: left;
    width: auto}
    
.box3-1{
    width:100%;
    height:50px;
    background:#ffee8f;
}
.box5-5{margin-bottom: 8px;
    width:100%;
    height:70px;
    border: solid 1px #dddddd;
}

.box5-icon{float:left;
    width:8%;
    height:100%;
    border-right: solid 2px #dddddd;
}
.box5-name{float:left;
    padding-left: 10px;
    width:70%;
    height:100%;
    font-size: 30px;
    font-weight: bold;
}
.box5-follow{float:right;
    padding-right: 20px;
    width:auto;
    height:45px;
}

.date{color:#727272;
    position:absolute;
    right: 0;
    bottom: 0;
}

.upload_button, .list_add{
    float:left;
    margin-right: 10px;
}
#setting_head{
    margin: 5px 0px;
    color:#727272;
    size: 20px;
    border-bottom: solid 2px #dddddd;
}